/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
header #title #logo {
  width: 520px;
  margin-top: 15px;
  flex-shrink: 0;
  /*		@media screen and (max-width: $break-lg) {
  			width: 200px;
  		}*/
}
@media screen and (max-width: 600px) {
  header #title #logo {
    width: 300px;
  }
}
header nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
}
@media screen and (max-width: 600px) {
  header nav {
    flex-flow: row wrap;
    align-items: flex-start;
  }
}
header nav ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  header nav ul {
    width: 100%;
    margin: 0;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }
}
header nav li {
  font-family: RobotoLight, GillSans, sans-serif;
  font-size: 18px;
  color: #f0f0f0;
}
@media screen and (max-width: 600px) {
  header nav li {
    font-size: 18px;
    margin: 10px 0;
  }
}
header nav li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #f0f0f0;
}
header nav li a:hover {
  background-color: #d865b0;
  color: #f0f0f0;
}
header .navbar {
  height: 185px;
  background-color: #242226;
  margin: 0;
}
@media screen and (max-width: 600px) {
  header .navbar {
    height: 105px;
  }
  header .navbar .wrapper {
    width: 100%;
    text-align: center;
  }
}
header .scroll-menu {
  height: 32px;
  width: 100%;
  background-color: #242226;
  border-bottom: 3px solid #e8935f;
  position: absolute;
  z-index: 2;
  display: none;
  padding-top: 10px;
  text-align: center;
}
header .scroll-menu h2 {
  margin: 0 15px;
  padding: 0;
  font-family: RobotoBlack, GillSans, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #e8935f;
  float: left;
}
@media screen and (max-width: 600px) {
  header .scroll-menu h2 {
    display: none;
  }
}
header .scroll-menu h2 a {
  text-decoration: none;
  color: #e8935f;
}
header .scroll-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  float: right;
}
@media screen and (max-width: 600px) {
  header .scroll-menu ul {
    float: none;
  }
}
header .scroll-menu li {
  font-family: RobotoLight, GillSans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f0f0f0;
}
header .scroll-menu li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #f0f0f0;
}
header .scroll-menu li a:hover {
  background-color: #d865b0;
}
header .fixed {
  position: fixed;
  top: 0;
}

.minibar {
  height: 5px;
  background-color: #e8935f;
  box-shadow: 0px 5px 10px #242226;
}
@media screen and (max-width: 600px) {
  .minibar {
    height: 3px;
  }
}

/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
.grid {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .grid {
    width: 95%;
  }
}

.grid-sizer,
.grid-item {
  width: 33%;
}
@media screen and (max-width: 600px) {
  .grid-sizer,
.grid-item {
    width: 49.5%;
  }
}

.grid-item {
  float: left;
  margin-bottom: 2px;
}
.grid-item img {
  width: 100%;
}

.grid-item--width2 {
  width: 66%;
}

.gal-wrapper {
  margin: 75px 0;
}

/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
/* About */
#about-section {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(#d865b0, #e8935f);
}
@media screen and (max-width: 600px) {
  #about-section {
    height: auto;
  }
}
#about-section h1, #about-section p, #about-section h2 {
  color: #f0f0f0;
}
#about-section p {
  font-size: 14px;
  font-family: RobotoLight, GillSans, sans-serif;
}
#about-section h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: RobotoBlack, GillSans, sans-serif;
}
@media screen and (max-width: 600px) {
  #about-section h2 {
    text-align: center;
  }
}
#about-section .minibar {
  box-shadow: 0px -1px 7px #242226;
}
#about-section .section-title .title-divider {
  border-top: solid 1.5px #c12a6a;
  border-bottom: solid 1.5px #f071ca;
}
#about-section .profile {
  display: flex;
  flex-flow: row;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #about-section .profile {
    flex-flow: column;
  }
}
#about-section .profile .profile-pic {
  width: 35%;
  height: auto;
  margin: 20px;
  box-shadow: 0 10px 15px #a8451e;
}
@media screen and (max-width: 600px) {
  #about-section .profile .profile-pic {
    width: 75%;
  }
}
#about-section .profile .profile-text {
  margin-left: 50px;
  width: 55%;
}
@media screen and (max-width: 600px) {
  #about-section .profile .profile-text {
    margin: 0 20px 20px;
  }
}

/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
#contact-section {
  width: 100%;
  height: 1000px;
}
@media screen and (max-width: 600px) {
  #contact-section {
    height: auto;
  }
}
#contact-section h1, #contact-section h3 {
  font-family: RobotoBlack, GillSans, sans-serif;
  color: #d0d0d0;
  letter-spacing: 1px;
}
#contact-section h3 {
  font-size: 18px;
  font-weight: 500;
}
#contact-section p {
  font-family: RobotoLight, GillSans, sans-serif;
  font-size: 14px;
  color: #d0d0d0;
}
#contact-section .email-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 450px;
}
@media screen and (max-width: 600px) {
  #contact-section .email-wrapper {
    flex-flow: column;
    height: auto;
  }
}
#contact-section .email-wrapper div {
  width: 48%;
}
@media screen and (max-width: 600px) {
  #contact-section .email-wrapper div {
    width: 100%;
    margin: 0 10px;
  }
}
#contact-section .email-wrapper #email-form {
  margin-left: 50px;
}
@media screen and (max-width: 600px) {
  #contact-section .email-wrapper #email-form {
    margin: 0 10px;
  }
}
#contact-section .input-bar {
  width: 100%;
}
@media screen and (max-width: 600px) {
  #contact-section .input-bar {
    width: 95%;
  }
}
#contact-section #email-icon {
  width: 200px;
  margin: 18px auto;
}
@media screen and (max-width: 600px) {
  #contact-section #email-icon {
    width: 150px;
    margin: 10px auto;
  }
}
#contact-section .social-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#contact-section .social-wrapper a {
  text-align: center;
  text-decoration: none;
}
#contact-section .social-wrapper .social-icon {
  width: 200px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  #contact-section .social-wrapper .social-icon {
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  #contact-section .social-wrapper {
    align-items: center;
    margin-top: 20px;
  }
}

/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/
footer {
  height: 40px;
  width: 100%;
  background-color: #202020;
  clear: both;
}
footer ul {
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin-top: 14px;
  margin-bottom: 0;
  width: 250px;
  padding: 0;
}
@media screen and (max-width: 600px) {
  footer ul {
    display: none;
  }
}
footer h6 {
  font-family: GillSans, sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  padding-bottom: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  footer h6 {
    margin-left: 10px;
  }
}
footer a {
  text-decoration: none;
  color: #a8a8a8;
}
footer #copyright {
  float: left;
  margin-top: 14px;
}

@font-face {
  font-family: CaviarDreams;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: CaviarBold;
  src: url(../fonts/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSansMTPro-Medium.otf);
}
@font-face {
  font-family: RobotoBlack;
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #343439;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
}

.section-title {
  text-align: center;
  width: 100%;
  margin: 50px 0;
}
@media screen and (max-width: 600px) {
  .section-title {
    margin: 30px 0;
  }
}
.section-title h1 {
  font-family: RobotoBlack, GillSans, sans-serif;
  font-size: 35px;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .section-title h1 {
    font-size: 30px;
  }
}
.section-title .title-divider {
  width: 50%;
  border-top: solid 1.5px #aaa;
  border-bottom: solid 1.5px #fff;
  margin: 0px auto;
}
@media screen and (max-width: 600px) {
  .section-title .title-divider {
    width: 90%;
  }
}

/* Footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 40px;
}

/*# sourceMappingURL=robot.css.map */
