@import 'helpers/variables';

.grid {
	width: 70%;
	margin: 0 auto;
}

.grid-sizer,
.grid-item {
	width: 33%;
}

.grid-item {
	float: left;
	margin-bottom: 2px;
		
		img {
		width: 100%;
	}
}

.grid-item--width2 {
	width: 66%;
}

.gal-wrapper {
	margin: 25px 0;
}