@font-face {
	font-family: CaviarDreams;
	src: url(fonts/CaviarDreams.ttf);
}

@font-face {
	font-family: CaviarBold;
	src: url(fonts/CaviarDreams_Bold.ttf);
}

body {
	margin: 0;
	padding: 0;
	background-color: #303030;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

/* NAV BAR */

.navbar {
	height: 120px;
	background-color: #308fff;
	margin: 0;
}

#minibar {
	height: 5px;
	background-color: #f0f0f0;
}

header nav {
	float: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin-top: 45px;
	padding: 0;
}

header a {
	font-family: CaviarDreams;
	font-weight: 600;
	font-size: 25px;
	text-decoration: none;
	color: #f0f0f0;
	margin: 0 15px;
}

header a:hover {
	border-bottom: 1.5px solid #f0f0f0;
}

#logo {
	height: 150px;
	margin: 10px 0;
	float: left;
}

@media screen and (max-width: 1000px) {
	.wrapper { width: 95%; }
}

@media screen and (max-width: 583px) {
	.navbar .wrapper {
		width: 100%;
		text-align: center;
	}

	.navbar {
		height: 100px;
	}

	header nav {
		background-color: #308fff;
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	header a {
		width: auto;
		font-size: 20px;
		padding: 10px 0;
		margin: 0;
	}

	#logo {
		height: 120px;
		float: none;
		margin: 10px auto;
	}

	#mobilebar {
		height: 65px;
		background-color: #643485;
	}
}

/* PORTFOLIO */

.portfolio .wrapper { 
	max-width: 1000px; 
	margin-top: 70px;
}

/* SALVATTORE */
@media screen and (max-width: 420px) {
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 421px) and (max-width: 650px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

@media screen and (min-width: 651px) and (max-width: 800px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

@media screen and (min-width: 801px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

/*#grid[data-columns]::before {
	content: '4 .column.size-1of4';
}
*/
.column { float: left; }

.size-1of4 { width: 25%; }
.size-1of3 { width: 33%; }
.size-1of2 { width: 50%; }
.size-1of1 { width: 100%; }

.column img { width: 100%; }

.column div { margin-right: 5px; }


/* --- */

.blurb {
	background-color: #DB2385;
	text-align: center;
	font-family: CaviarDreams;
/*	width: 200px;*/
	height: auto;
	color: #f0f0f0;
	padding: 10px 0 25px;
	margin-bottom: 5px;
}

#b1 {
	font-size: 2.4em;
	font-weight: 300;
	margin-bottom: 0.5em;
	letter-spacing: 0.5px;
}

#b2 {
	font-size: 1.5em;
	letter-spacing: 0.2px;
}

#b3 {
	font-size: 1em;
}

#b4 {
	font-family: CaviarBold;
	font-size: 1.7em;
	letter-spacing: 0.3px;
	margin: 0.8em 0;
}

#b5 {
	font-size: 1.45em;
}

#b6 {
	font-size: 1em;
	letter-spacing: 0.3px;
}
