// Common Colors
$five-gray: #f0f0f0;
$bg-color: #343439; //#eaf0f9;
$desc-color: #7b7978;
$footer-text: #a8a8a8;
$nav-color: #242226;

//Nav Gradient
$nav-grad1: #d865b0;
$nav-grad2: #e8935f;

// Fonts
$body-fonts: RobotoLight, GillSans, sans-serif;
$display-fonts: RobotoBlack, GillSans, sans-serif;

// Media Break Points
$break-mob: 600px;
$break-sm: 600px;
$break-lg: 70%;

//Blue Scheme
/*$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;

//Purple Scheme
$blue-color: #4a4c99; 
$blue-lighter: #6467cc; 
$blue-darker: #333573;*/