// Common Colors
$blue-color: #308fff;
$blue-lighter: #7cb8ff;
$blue-darker: #2675d3;
$five-gray: #f0f0f0;
$bg-color: #eaf0f9;
$desc-color: #7b7978;
$footer-text: #a8a8a8;
// Fonts
$body-fonts: GillSans, sans-serif;
$display-fonts: CaviarBold, GillSans, sans-serif;
// Media Break Points
$break-mob: 600px;
$break-sm: 600px;
$break-lg: 1016px;