@font-face {
	font-family: CaviarDreams;
	src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
	font-family: CaviarBold;
	src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
	font-family: GillSans;
	src: url(../fonts/GillSansMTPro-Medium.otf);
}

html, 
body { height: 100%; }

body {
	margin: 0;
	padding: 0;
	background-color: #303030;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -40px;
}

.page-wrap:after {
	content: "";
	display: block;
}

/* Footer */
footer, 
.page-wrap:after { height: 40px; }

footer {
	width: 100%;
	background-color: #202020;
	text-align: right;
	clear: both;
}

footer h6 {
	font-family: GillSans, sans-serif;
	color: #f0f0f0;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 0;
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */

.navbar {
	height: 120px;
	background-color: #308fff;
	margin: 0;
}

#minibar {
	height: 5px;
	background-color: #f0f0f0;
}

header nav {
	float: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin-top: 45px;
	padding: 0;
}

header a {
	font-family: CaviarDreams, Gill Sans, sans-serif;
	font-weight: 600;
	font-size: 25px;
	text-decoration: none;
	color: #f0f0f0;
	margin: 0 15px;
}

header a:hover {
	border-bottom: 1.5px solid #f0f0f0;
}

#logo {
	height: 150px;
	margin: 10px 0;
	float: left;
}

@media screen and (max-width: 1000px) {
	.wrapper { width: 95%; }
}

@media screen and (max-width: 583px) {
	.navbar .wrapper {
		width: 100%;
		text-align: center;
	}

	.navbar {
		height: 100px;
	}

	header nav {
		background-color: #308fff;
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	header a {
		width: auto;
		font-size: 20px;
		padding: 10px 0;
		margin: 0;
	}

	#logo {
		height: 120px;
		float: none;
		margin: 10px auto;
	}

	#mobilebar {
		height: 40px;
		background-color: #643485;
	}
}

/* About */
#about {
	margin-top: 70px;
}

#about-par {
	width: 40%;
	float: left;
	padding: 0 40px;
}

#about-par p {
	color: #f0f0f0;
	font-family: GillSans, sans-serif;
}

.me {
	width: 40%;
	float: left;
}

/* CONTACT */

#contact {
	margin-top: 70px;
}

#contact h1 {
	font-family: CaviarDreams, GillSans, sans-serif;
	color: #f0f0f0;
}

#contact p {
	font-family: GillSans, sans-serif;
	color: #f0f0f0;
}

#input-bar {
	width: 40%;
	padding: 5px;
}

@media screen and (max-width: 400px) {
	.me {
		width: 100%;
	}

	.about-par {
		width: 100%;
	}
}